.hero {
  padding: 20px 0;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.gallery__img {
  object-fit: cover;
}

.pagination {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pagination-list {
  display: flex;
  gap: 16px;
}

.pagination-list__button-prev,
.pagination-list__button-next {
  width: 100px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.pagination-info {
  margin-top: 20px;
}
